body{
  background-image: url("TrumpBladeRunner.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

@font-face {
    font-family: anything;
    src: url("BLADRMF_.TTF");
    font-weight:400;
}

#loses {
  position: relative;
}

#container {
  position: relative;
  font-family: anything;
  height: 500px;
  width: 500px;
  margin: 0 auto 0;
  font-weight: bold;
  color: white;
}

 button {
  font-size: 110%;
}

#five {
  width: 50px;
  height: 50px;
  background: red;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

#ten {
  width: 50px;
  height: 50px;
  background: green;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

#twenty {
  width: 50px;
  height: 50px;
  background: blue;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

