body{
  /*background-image: url("trumpA.jpg");*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-repeat: repeat-y;*/
  /*margin: 0 auto 0;*/
}

#container {
  height: 500px;
  width: 500px;
  margin: 0 auto 0;
  font-weight: bold;
  color: black;
  /*background-color: green;*/
}

